.box{
    width:30%;
    height: 23rem;
    text-align: center;
    border-radius: 25px;
padding-top: 50px;   
}
.outerbox{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}

.box:hover{
    box-shadow: 18px 30px 20px 5px rgba(0,0,0,0.11);
    transition-duration: 200ms;

}
