
.button {
    display: flex;
    justify-content: space-evenly;
}

.box {
    margin: 7rem;
    background-color: rgb(255, 255, 255);
    width: 25rem;
    height: 30rem;
    text-align: center;
    border-radius: 25px;
    padding-top: 50px;
}

.img{
    width: 250px;
    height: 250px;
}
.body {
    background-color: rgb(205, 209, 211);
    
}

.outerbox {
    display: flex;
    justify-content: center;
}

.box:hover {
    box-shadow: 18px 30px 20px 5px rgba(0, 0, 0, 0.11);
    transition-duration: 200ms;
}